body {
    font-family: 'Varela Round', sans-serif;
    /*width:900px;
    margin: auto;
    margin-top: 10px;*/
}


#header {
    display: block;
    padding: 0.7rem;
    width: 100%;
    background-color: #200000;
    color: rgba(255,250,250,0.8);
    font-weight: 800;
}

.mother {
    display:inline-block;
    width: 70%;
    padding: 10px;
    text-align: justify;
    line-height: 1.3rem;
}

.row {
    display: block;
    width:100%;
    text-align:center;
}

.container {
    display: block;
    width:99%;
}
@media (min-width: 600px) {
    .container {
        display: inline-block;
        width:47%;
        padding:1%;
    }
}

img {
    box-shadow: 4px 4px 4px gray;
    height: 100%;
    width: 100%;
}

#footer {
    position: fixed;
    display:block;
    padding: 0.7rem;
    bottom: 0;
    width: 100%;
    background-color: #200000;
    color: rgba(255,250,250,0.8);
    font-weight: 500;
}

a {
    color: rgba(255,255,220,0.8);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}