body {
    font-family: 'Varela Round', sans-serif;
    /*width:900px;
    margin: auto;
    margin-top: 10px;*/
}


#header {
    display: block;
    padding: 0.7rem;
    background-color: #200000;
    color: rgba(255,250,250,0.8);
    font-weight: 800;
}

.mother {
    display:inline-block;
    width: 70%;
    padding: 10px;
    text-align: justify;
    line-height: 1.3rem;
}

.row {
    display: block;
    width:100%;
    text-align:center;
}

.cont-2, .cont-3, .cont-23 {
    display: block;
    width:99%;
}
@media (min-width: 600px) {
    .cont-2 {
        display: inline-block;
        width:47%;
        padding:1%;
    }
}
@media (min-width: 600px) {
    .cont-3 {
        display: inline-block;
        width:30%;
        padding:1%;
        vertical-align: top;
    }
}
@media (min-width: 600px) {
    .cont-23 {
        display: inline-block;
        width:65%;
        padding:1%;
        vertical-align: top;
    }
}

.box {
    box-shadow: 4px 4px 4px gray;
    border-radius: 10px;
    border: 1px solid gray;
    height: 100%;
    width: 100%;
}

.img-decor {
    box-shadow: 4px 4px 4px gray;
    border-radius: 10px;
}

img {
    height: 100%;
    width: 100%;
}

#footer {
    clear:both;
    /*position: fixed;
    bottom: 0;*/
    display:block;
    padding: 0.7rem;
    background-color: #200000;
    color: rgba(255,250,250,0.8);
    font-weight: 500;
}

a {
    color: rgba(255,255,220,0.8);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.side {
    display:block;
    float: right;
    width:21%;
    height:100%;
    margin:1%;
    padding:1%;
    background-color: #eeeeee;
    box-shadow: 4px 4px 4px gray;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #200000;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #555555;
  }
  
  .active {
    background-color: #571414;
  }

  a.link {
        color: #999999;  
    }
    a.link:hover {
        background-color: black;
    }
  }
  